:root {
  --j: 1;
}
.hero-image {
  border: 1px solid white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("resources/1.jpg");

  min-height: 300px;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.508);
  font-family: comic neue;
  p {
    font-size: calc(2rem * var(--j));
  }
  p:nth-child(1) {
    --j: 1;
  }
  p:nth-child(2) {
    --j: 2;
  }
  p:nth-child(3) {
    --j: 3;
  }
}

.recipe-gallery {
  width: 100%;
  margin-block: 3rem;
  inline-size: 80%;
  margin-inline: auto;
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(25ch, 35ch)); */
}
a:has(.recipe-card) {
  text-decoration: none;
}
.recipe-card {
  background-color: var(--clr-bg-primary);
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  gap: 1.5rem;
  align-content: start;
  transition: box-shadow 0.1s;

  max-width: 35rem;
  max-height: 25rem;

  overflow: clip;
  overflow-clip-margin: content-box;

  text-overflow: ellipsis;

  > img {
    order: -1;
    object-fit: cover;
    border: 1px solid white;
    width: 100%;
    height: 100%;
    max-height: 11rem;
  }

  &:hover {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.303);
  }
  > h2 {
    transition: text-decoration 0.5s;
    &:hover {
      text-decoration: underline 3px firebrick;
    }
  }
}

@media (max-width: 520px) {
  .hero-text {
    p {
      font-size: calc(1rem * var(--j));
    }
  }
}
