:root {
  --j: 1;
}
.hero-image {
  border: 1px solid white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("resources/1.jpg");

  min-height: 300px;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.508);
  font-family: comic neue;
  p {
    font-size: calc(2rem * var(--j));
  }
  p:nth-child(1) {
    --j: 1;
  }
  p:nth-child(2) {
    --j: 2;
  }
  p:nth-child(3) {
    --j: 3;
  }
}

.recipe-gallery {
  width: 100%;
  margin-block: 3rem;
  inline-size: 80vw;
  margin-inline: auto;
  display: grid;
  gap: 2rem;
  justify-content: space-evenly;
  /* minmax gives a span with min-max values, only used in grid */
  grid-template-columns: repeat(auto-fit, minmax(35ch, 20rem));
}
a:has(.recipe-card) {
  text-decoration: none;
}
.recipe-card {
  background-color: wheat;
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  gap: 1.5rem;
  align-content: start;
  transition: scale 0.1s;

  width: 20rem;

  > img {
    order: -1;
    object-fit: cover;
    border: 1px solid white;
    width: 100%;
    height: 100%;
    max-height: 11rem;
  }

  &:hover {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.303);
    scale: 1.01;
  }
}

@media (max-width: 520px) {
  .hero-text {
    p {
      font-size: calc(1rem * var(--j));
    }
  }
}
