:root {
  --clr-bg-primary: oklch(0.4453 0.1827 29.23 / 30.2%);
  --clr-bg-secondary: oklch(0.9911 0 0);
  --clr-bg-description: oklch(0.9401 0 0);

  --title-text-color: #a10000;
  /* 
  --clr-bg-primary: #a100004d;
  --clr-bg-secondary: #fcfcfc;
  --clr-bg-description: #ebebeb;

  --title-text-color: #a10000; 
  */

  --bigtext: 1.75rem;
  --mediumtext: 1.5rem;
  --smalltext: 1rem;

  --padding-1rem: 1rem;
  --padding-large: 3rem 3rem 4rem 3rem;
  --padding-small: 3rem 1rem 4rem 1rem;

  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  background-color: var(--clr-bg-primary);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
  min-height: 3rem;
  position: sticky;
  top: 0;
  grid-area: header;
  background-color: pink;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em;
  z-index: 9999;
}
.header > nav {
  background-color: wheat;
  flex-grow: 0.5;
  display: flex;
  align-self: stretch;
  ul {
    width: 100%;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
  }
}
.header svg {
  background-color: color-mix(
    in srgb,
    var(--clr-bg-secondary),
    rgba(255, 255, 255, 0.227) 80%
  );
  border-radius: 0.5rem;
  width: 10rem;
  padding: 0.5rem;
}
.header > a:last-child {
  border-radius: 0.2rem;
  margin-inline: 0.2em;
  margin-block: 0.2rem;
  padding: 0.2rem;
  background-color: var(--clr-bg-secondary);
  color: black;
  text-decoration: none;
}
main {
  grid-area: main;
  width: 80%;
  background-color: var(--clr-bg-secondary);
}
footer {
  grid-area: footer;
  background-color: firebrick;
}

@media (max-width: 520px) {
  .header {
    flex-direction: column;
    nav {
      align-self: stretch;
    }
  }
  main {
    width: 100vw;
  }
}
