:root {
  --clr-bg-primary: hsl(0, 63%, 37%);
  --clr-bg-secondary: oklch(0.9911 0 0);
  --clr-bg-description: oklch(0.9401 0 0);

  --title-text-color: #a10000;
  /* 
  --clr-bg-primary: #a100004d;
  --clr-bg-secondary: #fcfcfc;
  --clr-bg-description: #ebebeb;

  --title-text-color: #a10000; 
  */

  --bigtext: 1.75rem;
  --mediumtext: 1.5rem;
  --smalltext: 1rem;

  --border-radius-tiny: 0.2rem;
  --border-radius-small: 1rem;

  --margin-tiny: 0.5rem;
  --margin-small: 1rem;

  --padding-tiny: 0.2rem;
  --padding-1rem: 1rem;
  --padding-large: 3rem 3rem 4rem 3rem;
  --padding-small: 3rem 1rem 4rem 1rem;

  overflow-y: scroll;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;

  font-size: var(--smalltext);
  font-weight: 400;
  letter-spacing: 0%;
}

h1 {
  font-size: var(--bigtext);
  font-weight: 700;
  letter-spacing: 0%;

  color: var(--title-text-color);
  font-style: bold;
}
h2 {
  font-size: var(--mediumtext);
  font-weight: 700;
  letter-spacing: 0%;
  font-style: bold;
}

img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
}

main {
  margin-left: auto;
  margin-right: auto;
}

ol,
ul {
  margin-inline-start: 1.5rem;
}

.recipe-image {
  border: 1px solid var(--clr-bg-secondary);
  max-height: 500px;
  width: 100%;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 1.5rem;

  * {
    max-width: 580px;
    max-height: 467px;
  }
}

/* utility */
.border-rds-tiny {
  border-radius: var(--border-radius-tiny);
}
.border-rds-sm {
  border-radius: var(--border-radius-small);
}
.clr-bg-primary {
  background-color: var(--clr-bg-primary);
}
.clr-bg-secondary {
  background-color: var(--clr-bg-secondary);
}
.clr-bg-description {
  background-color: var(--clr-bg-description);
}
.margin-tiny {
  margin: var(--margin-tiny);
}
.padding-tiny {
  padding: var(--padding-tiny);
}
.padding-1rem {
  padding: var(--padding-1rem);
}
.padding-container {
  padding: var(--padding-large);
}

.flow-grandchildren > * > * + * {
  margin-top: 1em;
}
.flex-container {
  display: flex;
}
.justify-self-end {
  justify-self: flex-end;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.margin-auto {
  margin: auto;
}

@media (max-width: 900px) {
  .padding-container {
    padding: var(--padding-small);
  }

  .recipe-block {
    width: 100vw;
  }
}
