:root {
    --primary-bg-color: #A100004D;
    --secondary-bg-color: #FCFCFC;
    --description-bg-color: #EBEBEB;

    --title-text-color: #A10000;

    --bigtext: 28px;
    --mediumtext: 24px;
    --smalltext:16px;

    font-family: "Open Sans", sans-serif;
}
body, html{
  margin:0;
  padding:0;
}

body{
    background-color: var(--primary-bg-color);
}
.bigtext{
    font-size: var(--bigtext);
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 100%;
}
.redtext{
    color: var(--title-text-color);
}
.mediumtext{
    font-size: var(--mediumtext);
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 100%;
}
.smalltext{
    font-size: var(--smalltext);
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 100%;
}
.bold{
    font-style: bold;
}

img{
    object-fit: cover;
    max-width:100%;
    width:100%;
}
#pannkaka1 {
    box-sizing: border-box;
    border:1px solid var(--secondary-bg-color);
    height: 500px;
    width:1280px;
    width:100%;
}

.container{
    width:1280px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10vh;
    background-color: var(--secondary-bg-color);
}
main{
    padding-top:48px;
    padding-right: 48px;
    padding-bottom:64px;
    padding-left: 48px;
}
.description{
    box-sizing: border-box;
    background-color: var(--description-bg-color);
    padding:16px;
    gap:10px;
}
section{
    width: 100%;
    max-width: 100%;
}
.imageFrame{
    display: flex;
    flex-wrap: wrap;
    gap:24px;
} 
#pannkaka{
    flex: 1 1 auto;
    width:508px;
    height: 467px;
}
li{
    line-height:normal;
}

@media (max-width: 900px){
    .container{
        margin:0%;
        width:100vw;
    }
    main{
        max-width:100%;
        padding-top:48px;
        padding-right: 16px;
        padding-bottom:64px;
        padding-left: 16px;
    }
}