:root {
    --primary-bg-color: #A100004D;
    --secondary-bg-color: #FCFCFC;
    --description-bg-color: #EBEBEB;

    --title-text-color: #A10000;

    --bigtext: 1.75rem;
    --mediumtext: 1.5rem;
    --smalltext:1rem;

    font-family: "Open Sans", sans-serif;
}

body{
    background-color: var(--primary-bg-color);
}
.bigtext{
    font-size: var(--bigtext);
    font-weight: 700;
    letter-spacing: 0%;
}
.redtext{
    color: var(--title-text-color);
}
.mediumtext{
    font-size: var(--mediumtext);
    font-weight: 700;
    letter-spacing: 0%;
}
.smalltext{
    font-size: var(--smalltext);
    font-weight: 400;
    letter-spacing: 0%;
}
.bold{
    font-style: bold;
}

img{
    object-fit: cover;
    max-width:100%;
    width:100%;
}
#pannkaka1 {
    box-sizing: border-box;
    border:1px solid var(--secondary-bg-color);
    height: 500px;
    width:1280px;
    width:100%;
}

main{
    max-width:1280px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10vh;
    background-color: var(--secondary-bg-color);
}
.container{
    padding-top:48px;
    padding-right: 48px;
    padding-bottom:64px;
    padding-left: 48px;
}
.description{
    background-color: var(--description-bg-color);
    padding:1rem;
}
:is(section) > :is(ol, ul){
    padding:0rem 1.5rem
}
section, h1, h2{
    padding: 1rem 0;
}
h2+p{
    margin-bottom: 1rem;
}
.imageFrame{
    display: flex;
    flex-wrap: wrap;
    gap:24px;
} 
#pannkaka{
    flex: 1 1 auto;
    max-width:508px;
    max-height: 467px;
}


@media (max-width: 900px){
    .container{
        padding-top:48px;
        padding-right: 16px;
        padding-bottom:64px;
        padding-left: 16px;
    }
    main{
        max-width:100%;
    }
}