:root {
    --primary-bg-color: #A100004D;
    --secondary-bg-color: #FCFCFC;
    --description-bg-color: #EBEBEB;

    --title-text-color: #A10000;

    --bigtext: 28px;
    --mediumtext: 24px;
    --smalltext:16px;

    font-family: "Open Sans", sans-serif;
}
img{
    object-fit: cover;
    max-width:100%;
    width:100%;
}
#pannkaka1 {
    
    height: 500px;
    width:1280px;
    
}
.bigtext{
    font-size: var(--bigtext);
}
.redtext{
    color: var(--title-text-color);
}
.mediumtext{
    font-size: var(--mediumtext);
}
.smalltext{
    font-size: var(--smalltext);
}
.header{
    font-style: bold;
}
body{
    background-color: var(--primary-bg-color);
}
.container{
    margin-left: 10%;
    background-color: var(--secondary-bg-color);
    margin:auto;
    width:80vw;
}
.frame1{
    padding-top:48px;
    padding-right: 48px;
    padding-bottom:64px;
    padding-left: 48px;
}
.description{
    background-color: var(--description-bg-color);
}

.frame{
    width: 100%;
    max-width: 100%;
}
.imageFrame{
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 24px;
    column-gap: 24px;
}
#pannkaka{
    width:580px;
    height: 467px;
    min-width: 300px;
}