body {
  font-family: "Open Sans", sans-serif;

  font-size: var(--smalltext);
  font-weight: 400;
  letter-spacing: 0%;
}

h1 {
  font-size: var(--bigtext);
  font-weight: 700;
  letter-spacing: 0%;

  color: var(--title-text-color);
  font-style: bold;
}
h2 {
  font-size: var(--mediumtext);
  font-weight: 700;
  letter-spacing: 0%;
  font-style: bold;
}

img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
}

main {
  margin-left: auto;
  margin-right: auto;
}

ol,
ul {
  margin-inline-start: 1.5rem;
}

.recipe-image {
  border: 1px solid var(--clr-bg-secondary);
  max-height: 500px;
  width: 100%;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 1.5rem;

  * {
    max-width: 580px;
    max-height: 467px;
  }
}

/* utility */
.padding-1rem {
  padding: var(--padding-1rem);
}
.padding-container {
  padding: var(--padding-large);
}
.clr-bg-primary {
  background-color: var(--clr-bg-primary);
}
.clr-bg-secondary {
  background-color: var(--clr-bg-secondary);
}
.clr-bg-description {
  background-color: var(--clr-bg-description);
}
.flow-grandchildren > * > * + * {
  margin-top: 1em;
}
.flex-container {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.margin-auto {
  margin: auto;
}

@media (max-width: 900px) {
  .padding-container {
    padding: var(--padding-small);
  }

  .recipe-block {
    width: 100vw;
  }
}
